<h3><%= @user.username%></h3>
<%= form_for @user do |p| %>
    <%= p.label :Username %><br><br>
    <%= p.text_field :username %><br><br>
    <%= p.submit class:'waves-effect waves-light btn'%>
<% end %>
