<h1>All events created by: <%= session[:auth]["username"] %></h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.description %>
    </li>
  <% end %>
</ul>

<h1>All events attended by: <%= session[:auth]["username"] %></h1>
<ul>
  <% @eventsAttended.each do |event| %>
    <li>
      <%= event.description %>
    </li>
  <% end %>
</ul>

<table>
 <tr>
   <th>Description</th>
   <th>Date</th>
   <th>Status</th>
 </tr>
 <% @eventsAttended.each do |event| %>
  <tr>
    <td> <%= event.description %></td>
    <td> <%= event.date %></td>
    <% if event.date < Date.today %>
     <td> Previously attended events </td>
    <% else %>
      <td> Upcoming events </td>
    <% end %>
  </tr>
 <% end %>
</table>
