<%= form_for(@event) do |f| %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.submit class:'waves-effect waves-light btn'%>
  </p>
<% end %>
