<!DOCTYPE html>
<html>
  <head>
    <title>RubyAssociations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:auth] %>
      <%= link_to "Event Index", events_path %> || <%= link_to "New Event", new_event_path %>
    || <%= link_to "User Show page", user_path(session[:auth]["id"]) %>
    || <%= link_to "List of events", event_attendings_index_path %>
      <h3><%= link_to "Logout", destroy_session_path, data:{method: :delete} %> </h3>
      <h3>Welcome: <%= session[:auth]["username"] %> </h3>
    <% else %>
      <h3><%= link_to "Login", new_session_path %> </h3>
      <h3><%= link_to "New user", new_user_path %> </h3>
    <% end %>
    <p class="notice"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
