<!DOCTYPE html>
<html>
  <head>
    <title>RubyAssociations</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if session[:auth] %>
    <nav>
      <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Event Index", events_path %> </li>
       <li><%= link_to "New Event", new_event_path %></li>
    <li><%= link_to "User Show page", user_path(session[:auth]["id"]) %></li>
     <li><%= link_to "List of events", event_attendings_index_path %></li>
     </ul>
           <p><%= link_to "Logout", destroy_session_path, data:{method: :delete} %> </p>

           </div>
    </nav>
      
      
      <h3>Welcome: <%= session[:auth]["username"] %> </h3>

    <% else %>
      <h3><%= link_to "Login", new_session_path %> </h3>
      <h3><%= link_to "New user", new_user_path %> </h3>

    <% end %>
    <p class="notice"><%= flash.notice %></p>
    <%= yield %>
    </div>
        <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
